/* styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #020101;
  color: #ffffff;
  position: relative;
  padding: 2rem;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: url('../public/line.png') no-repeat center center;
  background-size: cover;
  z-index: 1;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}

.profileImg {
  border-radius: 70%;
  border: 2px solid #cdd5c2;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 0.8;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.3s;
  cursor: pointer;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.header p {
  font-size: 1rem;
}

.articlesGrid {
  width: 100%;
  max-width: 900px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

.articlesGrid > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header p {
    font-size: 0.8rem;
  }

  .articlesGrid {
    width: 100%;
  }
}